

#j1 {
  margin-bottom: 0px;
  height:350;
  color: white;
  text-shadow: black 0.3em 0.3em 0.3em;
  background:white;
  
}

#location:hover
{
 color:white;
 cursor: default;
}

div.img {
    margin: 1px;
    padding: 10px;
    border: 1px solid #000000;
    height:auto;
    width:auto;
    float: left;
    background:white;
    text-align:left;
    
} 

#iimg {
    display: inline;
    margin: 5px;
    border: 1px solid #ffffff;
    -webkit-transition: all 1s ease; /* Safari and Chrome */
    -moz-transition: all 1s ease; /* Firefox */
    -ms-transition: all 1s ease; /* IE 9 */
    -o-transition: all 1s ease; /* Opera */
    transition: all 1s ease;
    overflow: hidden;
}
#iimg:hover {
    border: 1px solid #0000ff;
    height: 200px;
    width: 200px;
    -webkit-transform:scale(1.25); /* Safari and Chrome */
    -moz-transform:scale(1.25); /* Firefox */
    -ms-transform:scale(1.25); /* IE 9 */
    -o-transform:scale(1.25); /* Opera */
     transform:scale(1.25);
     overflow: hidden;
}

div.desc {
  text-align:center;
  font-weight: bolder;
  margin: 5px;

}
hr { 
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
    background-color: black;
    color: black;
}
.letterlist ul {
    margin: 0; 
    padding: 0; 
    list-style-type: none; 
    
}

.letterlist li {
    
    margin: 0px 0;
}

ul.enlarge{
list-style-type:none; /*remove the bullet point*/
margin-left:0;
}
ul.enlarge li{
display:inline-block; /*places the images in a line*/
position:relative;
z-index: 0; /*resets the stack order of the list items - later we'll increase this*/
margin:10px 40px 0 20px;
}
ul.enlarge img{
background-color:#ffffff;
padding: 0px;
-webkit-box-shadow: 0 0 6px rgba(132, 132, 132, .75);
-moz-box-shadow: 0 0 6px rgba(132, 132, 132, .75);
box-shadow: 0 0 6px rgba(132, 132, 132, .75);
-webkit-border-radius: 4px; 
-moz-border-radius: 4px; 
border-radius: 3px; 
}
ul.enlarge span{
position:absolute;
left: -9999px;
background-color:#ffffff;
padding: 5px;
font-family: 'Droid Sans', sans-serif;
font-size:.9em;
text-align: center; 
color: #495a62; 
-webkit-box-shadow: 0 0 20px rgba(0,0,0, .75));
-moz-box-shadow: 0 0 20px rgba(0,0,0, .75);
box-shadow: 0 0 20px rgba(0,0,0, .75);
-webkit-border-radius: 8px; 
-moz-border-radius: 8px; 
border-radius:3px;
}
ul.enlarge li:hover{
z-index: 1000;
cursor:pointer;
}
ul.enlarge span img{
padding:2px;
background:#ccc;
}
ul.enlarge li:hover span{ 
top: -50px; /*the distance from the bottom of the thumbnail to the top of the popup image*/
left: 0px; /*distance from the left of the thumbnail to the left of the popup image*/
}
ul.enlarge li:hover img{
  
}
ul.enlarge li:hover:nth-child(2) span{
left: -100px; 
}
ul.enlarge li:hover:nth-child(3) span{
left: -200px; 
}
ul.enlarge img, ul.enlarge span{
behavior: url(pie/PIE.htc); 
}
table#t01 th {
    color: white;
    background-color: black;
    text-align: center;
    padding: 10px;

}
table#t01 td {
    text-align: center;
    padding: 10px;
    width: 20%;

}
table#mt td {
    vertical-align: top;

}
table#t01{
  border-collapse:separate;
    border-spacing:0 5px;
}
table#t02 td {
    vertical-align: middle;
    width: 20%;

}

.navbar-brand{
  color: #FFFFFF;
}
.navbar-inverse.navbar-nav > li {
  color: #FFFFFF;
}
html {
background: url() no-repeat center center fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}

.navbar-inverse {
   
  border-bottom: none;
   background: rgba(121,147,59,0.9);
}
.navbar-inverse .navbar-toggle {
  border: 1px solid #000000;
  border-color: rgb(0,0,0,0);
}
.navbar-inverse .navbar-header .navbar-brand {
  color: white;
}
.navbar-inverse .navbar-header .navbar-brand:hover {
  color: black;
}
.navbar-inverse .navbar-header:hover{
  color:black;
}
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
   border-color: transparent;
  @media (max-width: 767px) {
    background: rgba(255,255,255,0.75);
  }
}
.navbar-inverse .navbar-nav > li > a {
color: white;
  

}
.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
color: black;

}
