
<!DOCTYPE html>
<html lang="en">
<head>
  <title>E-commerce</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular-animate.min.js"></script>
    <script src="js/thedreamstop.js"></script>
<script type="text/javascript">
$(window).load(function() {
  $(".loader").fadeOut("slow");
})
</script>

   <link rel="stylesheet" type="text/css" href="css/frontpage.css">
  <link rel="stylesheet" type="text/css" href="css/style.css">
  <link rel="stylesheet" type="text/css" href="css/about.css">
  <link href="css/simple-sidebar.css" rel="stylesheet">
  <style type="text/css">
.loader {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: url('images/page-loader.gif') 50% 50% no-repeat rgb(249,249,249);
}
</style>

 
</head>
<body>
    <div class="loader"></div>
  <div class="container-fluid" ng-app="thedreamstop">
   <div class="navbar navbar-inverse navbar-fixed-top" role="navigation" style="height:100px;" ng-controller="nav">
      <div class="container-fluid" style="position: relative;top: 50%;-webkit-transform: translateY(-50%);-ms-transform: translateY(-50%);transform: translateY(-50%);line-height:100%;padding-right: 25px;padding-left:15px;" >

        
        <div class="navbar-collapse collapse">
          <div ng-controller="myCtrl" > 
 <i class="fa fa-lg fa-bars menu-button" id="sidebar" ng-click="onClick()" ></i>
  </div>
          <div class="navbar-header" >
            <a class="navbar-brand" href="index.html" style="padding-left:80px;">The DreamStop</a> 
          </div>
          <ul class="nav navbar-nav" style="width: 30%;margin-top:10px;margin-left: 40px;">
            <li style="width:450px;">
              <div class="input-group" style="width:450px;" ng-controller="search">
                <input type="text" ng-enter="searchlistent()" class="form-control" ng-model="searchdata" placeholder="Search for a product, category or brand" style="width:280px;margin:0px;">
                <span >
                  <div id="searchdiv" class="dropdown">
                    <button class="dropdown-toggle" data-toggle="dropdown" ng-click="searchlist()" id="subsearch" ><span class="glyphicon glyphicon-search"></span> Submit</button>
                    <ul id="results" class="dropdown-menu" style="margin-left:0px;margin-top: 0px;">
                      <li ng-repeat="x in search" ng-click="open()">
                        <table id="t02">
                          <tr style="height: 10%;width:100%;" id="searchlist">
                          <td ng-if="x.q!=-1"  align="center" style="padding: 10px;">
                            <input type="number" min="1" max="10" value="1" id="{{x.PID}}" ng-model="search[$index].qty">
                          </td>
                          <td style="padding: 10px;" align="center">
                          <div class="desc">{{ x.name }}</div>
                          </td>
                          <td ng-if="x.q!=-1"  style="padding: 0px;"align="center">
                          <b>{{ x.q }} {{x.unit}}</b>
                          </td>
                          <td ng-if="x.q!=-1"  align="center" style="padding: 10px;"><div class="desc">Rs.{{ x.price }}</div></td>
                          <td ng-if="x.q!=-1"  align="center" style="padding: 10px;"><button class="btn" ng-disabled="loggedout()" ng-click="add(search[$index].PID,search[$index].qty,x.name,search[$index].q*1,x.price*search[$index].qty,search[$index].unit)">ADD</button></td>
                          </tr>
                        </table>
                        
                      </li>
                    </ul>
                  </div> 
                </span>
              </div>
            </li>
          </ul>
      <div ng-controller="log_in_out">
      <ul class="nav navbar-nav navbar-right">
        <li><a data-toggle="popover" data-container="body" data-contentwrapper=".content"><span id="bindElement"></span></a></li>
        <li ng-if="!loggedin()"><a href="Register.html"><span class="glyphicon glyphicon-user"></span> Register</a></li>
        <li ng-if="!loggedin()"><a href="#" data-toggle="modal" data-target="#myModal"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
        <li ng-if="loggedin()"><a href="Account.html">Welcome &nbsp;<b>{{username}}</b></a></li>
        <li ng-if="loggedin()"><a style="align: center;" data-toggle="modal" data-target="#cartmodal"><span class="glyphicon glyphicon-shopping-cart"></span>&nbsp; &nbsp;Cart</a></li>
        <li ng-if="loggedin()" ng-click="logout()"><a href="#">Logout</a></li>
        

       <div class="content" style="display:none;">
        <p align="center" >
        <br>
        Changing location will cause the page to be refreshed leading to loss of saved data.Do you want to proceed? <br><br>
        <button type="submit" class="btn btn-primary" ng-click="refresh()">Continue</button>
        </p>
       </div>

      </ul>
    </div>
        </div><!--/.nav-collapse -->
      </div>
    </div>
<div class="modal fade" ng-controller="cart" id="cartmodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >
 
  <div class="modal-dialog" >
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title" id="myModalLabel">Cart</h3>
      </div>
      <div class="modal-body" >
      <table style="width: 100%;" cellpadding="10" cellspacing="10" >
<tr ng-if="tprice!=0"style="padding: 10px;" align="center"><h4><b>Total bill : Rs. {{tprice}}</b></h4></tr>
<tr ng-if="tprice!=0" style="padding: 10px;" align="center" style="text-align: center;background:white;float: none;">
    <th style="text-align: center;">Qty</th>
    <th style="text-align: center;">Name</th>   
    <th style="text-align: center;">Weight</th>
    <th style="text-align: center;">Price</th>
</tr>

<tr ng-if="tprice!=0" ng-repeat="x in addeditems" style="text-align: center;">
<td> {{x.qty}} </td>
<td> {{x.nam}} </td>
<td> {{x.w}} kg</td>
<td> Rs.{{x.price}} </td>

</tr>
<tr ng-if="tprice==0"><h3 align="center">{{titems}} items in cart</h3></tr>


</table>
    </div>
    
      
      <div class="modal-footer">
        <p align="center">
        <!--<button type="button" class="btn btn-success" data-dismiss="modal" style="width:40%;"><span class="glyphicon glyphicon-arrow-left" style="float: left;"></span>   Back</button>-->
        <button type="button" class="btn btn-success" data-dismiss="modal" data-toggle="modal" data-target="#detailsmodal"style="width:40%;">   Proceed <span class="glyphicon glyphicon-arrow-right" style="float: right;"></span></button>
        
        <br><br>
        
      </p>
        
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="detailsmodal" ng-controller="cart" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title" id="myModalLabel">Delivery Details</h3>
      </div>
      <div class="modal-body">
      <div class="form">
      <div class="form-group">
      <input type="text" class="form-control"placeholder="Name" ng-model="shipdata.name"></input>
      <br>
      <input type="tel" class="form-control"placeholder="Telephone Number" ng-model="shipdata.phno"></input>
      <br>
      <input type="text" class="form-control"placeholder="Address" ng-model="shipdata.address"></input>
      <br>
      </div>
      </div>
    </div>
    
      
      <div class="modal-footer">
        <p align="center">
         <button type="button" class="btn btn-success" data-dismiss="modal" data-toggle="modal" data-target="#cartmodal"style="width:40%;"><span class="glyphicon glyphicon-arrow-left" style="float: left;"></span>   Back</button>
        <button type="button" class="btn btn-success" data-dismiss="modal" data-toggle="modal" ng-click="addorder()"style="width:40%;">Proceed to pay <span class="glyphicon glyphicon-arrow-right" style="float: right;"></span></button>
        <br><br>
        
      </p>
        
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="paymodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title" id="myModalLabel">Payment</h3>
      </div>
      <div class="modal-body">
      
    </div>
    
      
      <div class="modal-footer">
        <p align="center">
         <button type="button" class="btn btn-success" data-dismiss="modal" data-toggle="modal" data-target="#detailsmodal"style="width:40%;"><span class="glyphicon glyphicon-arrow-left" style="float: left;"></span> Back</button>
        
        <br><br>
        
      </p>
        
      </div>
    </div>
  </div>
</div>
<div class="modal fade" ng-controller="login" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title" id="myModalLabel">Login<span ng-if="wuser" style="color:red;font-size:15px;margin-left:30px;vertical-align:middle;">&nbsp;&nbsp;Wrong username or password.Try again.</span></h3>

      </div>
      <div class="modal-body">
      <div class="container">
      <form role="form" name="RegForm">
      <div class="col-md-4">
      <div class="form-group">
      <label for="lemail">Email:</label>
       <input type="email" class="form-control" name=" lemail" id="lemail"  required="" ng-model="user.email"/>
       <div ng-show="RegForm.lemail.$dirty && RegForm.lemail.$invalid" style="color:red;font-weight:bold;">
      <span ng-show="RegForm.lemail.$error.required">E-Mail is a required field</span>
      <span ng-show="RegForm.lemail.$error.email" >This is not a valid email.</span>
    </div>
      </div>  
      <div class="form-group">
      <label for="lpwd">Password:</label>
      <input type="password" class="form-control" id="lpwd" name="lpwd"  required="" ng-model="user.password"/>
       <div ng-show="RegForm.lpwd.$dirty" style="color:red;font-weight:bold;">
      <span ng-show="RegForm.lpwd.$error.required">Password is a required field</span>
    </div>
      </div> 
      
      </form>
      </div>
    </div>
    </div>
      
      <div class="modal-footer">
        <p align="center">
        <button type="submit" class="btn btn-success"  style="width:40%;" ng-disabled="RegForm.lemail.$dirty && RegForm.lemail.$invalid ||  
RegForm.lpwd.$dirty && RegForm.lpwd.$invalid" ng-click="userlogin()">Login</button>
        <br><br>
        <a href="#">Forgot password?</a>
      </p>
        
      </div>
    </div>
  </div>

</div>
<div class="modal fade" id="locmodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="" data-keyboard="false" data-backdrop="static">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <!--button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button-->
        <h3 class="modal-title" id="myModalLabel">Location</h3>
      </div>
      <div class="modal-body">
      <div class="container">
      <form role="form">
      <div class="col-md-4">
      <div class="form-group">
      <label for="lemail">City:</label>
      <select class="form-control" style="vertical-align: middle;padding-top: 5px;margin-top: 8px;margin-right: 30px;" id="City">
          <option >Chennai</option>
          <option >Bangalore</option>
          <option >Mumbai</option>
          <option >Delhi</option>
        </select> 
      </div>  
      <div class="form-group">
      <label for="lpwd">Area:</label>
      <select class="form-control" style="vertical-align: middle;padding-top: 5px;margin-top: 8px;margin-right: 30px;" id="area">
          <option>Area1</option>
          <option>Area2</option>
          <option>Area3</option>
          <option>Area4</option>
        </select> 
      </div> 
      
      </form>
      </div>
    </div>
    </div>
      <div class="modal-footer">
        <p align="center">
        <button type="button" class="btn btn-success" data-dismiss="modal" style="width:40%;" id="locsub">Submit</button>
        
      </p>
        
      </div>
    </div>
  </div>
</div>
<div class="container-fluid" ng-app="thedreamstop" ng-controller="myaccount"  style="padding-top: 100px;">
<div class="col-md-2" align="center" style="padding-top:30px;">

      <ul class="nav nav-pills nav-stacked" style="padding-top: 5px;padding-left: 5px;width: 100%;vertical-align: top;">
        <h2 style="">My Account</h2>
        <hr>
        <a href="#" style="padding: 4px;"><h5>Personal Details</h5></a>
        
        <a href="myorders.html" style="padding: 4px;"><h5>My Orders</h5></a>
        
       </ul>
  
</div>
<div id="wrapper" style="padding-top: 0px;padding-left:0px;">

        <!-- Sidebar -->
        <div id="sidebar-wrapper" style="padding: 0px;" ng-controller="drawer">
            <ul class="sidebar-nav">
              <br>
                <li class="sidebar-brand" >
                    <h3 style="color: white;padding-top: 10px;">The DreamStop</h3>
                </li>
                  <hr> 
                  <br>              
                <li style="background: rgba(255,255,255,0.2);color:white;">
                    <a href="index.html"><i class="fa fa-home" id="home-fa" style="color: white;"></i>&nbsp;&nbsp;Home</a>
                </li>
                
                <li >
                    <a style="color: white;" ng-click="account()"><span class="glyphicon glyphicon-user" style="color: white;"></span>&nbsp;&nbsp;My Account</a>
                </li>
                
                <!-- <li style="background: rgba(255,255,255,0.2);color:white;">
                    <a href="Account.html" ><i class="fa fa-inr" style="color: white;"></i>&nbsp;&nbsp;Wallet</a>
                </li>
                
                <li >
                    <a href="#" style="color: white;"><i class="fa fa-question-circle" id="faq-fa" style="color: white;"></i>&nbsp;&nbsp;Help</a>
                </li> -->
                
                <li style="background: rgba(255,255,255,0.2);color:white;">
                    <a href="About.html"><i class="fa fa-question-circle" id="faq-fa" style="color: white;"></i>&nbsp;&nbsp;About Us</a>
                </li>
               
            </ul>
        </div> 
  </div>
<div class="col-md-9" style="padding-top:20px;">
  <div id="page-content-wrapper">
<div class="jumbotron" style="background-color:rgba(0,0,0,0.9);color:white;">
<div class="container">


  <h2 style="color:white;">Personal Details</h2>
<hr>
  <form role="form">
<div class="col-md-7">

    <div class="form-group">

      <label for="fname">Name:</label>
       
      <input type="text" class="form-control" id="fname" placeholder="" ng-model="user.name" ng-disabled="!edit">
      
    </div>
    <div class="form-group">

      <label for="lname"> Email:</label>
       
      <input type="email" class="form-control" id="email" placeholder="" ng-model="user.email" ng-disabled="!edit">
      
    </div>
    <!-- <div class="form-group">

      <label for="dob">Date of Birth:</label>
       
      <input type="date" class="form-control" id="dob" placeholder="" >
      
    </div> -->
<div class="form-group">

      <label for="telno"><span class="glyphicon glyphicon-phone-alt"></span> Telephone number:</label>
       
      <input type="tel" class="form-control" id="telno" placeholder="" ng-model="user.telephone" ng-disabled="!edit">
      
    </div>
    <div class="form-group">

      <label for="fname">Address:</label>
       
      <input type="text" class="form-control" id="fname" placeholder="" ng-model="user.address" ng-disabled="!edit">
      
    </div>
     <!-- <div class="form-group">
      <label for="phonenumber"><span class="glyphicon glyphicon-phone"></span> Mobile number:</label>
      <input type="tel" class="form-control" id="phonenumber" placeholder="" >
    </div> -->
    <br>
      <button class="btn btn-success" ng-click="edit=edit+1" ng-hide="edit">Edit Info</button> 
     <button class="btn btn-success" ng-click="useredit()" ng-show="edit">Save Changes</button> 
</div>

  </form>



</div>
</div>
</div>
</div>
</div>


</div>
<div class="container-fluid" style="position:absolute;right:0px;width:100%;margin-top:80px;">
  <div class="Mobile-App" style="background: gainsboro;">
  <h3 id="playstore">Finish Grocery Shopping on the Go!<br>
  Download the TheDreamStop Mobile App Now!</h3>
  <br>
  <a href="#"><img src="images/gplay.jpg" alt="Google Play Store" id="google"></a>
 
  <h3 id="follow"> Follow us on </h3>
  <figure class="member-photo"><a href="#"><i class="fa fa-facebook-square fa-4x" id="facebook"></i></figure>
   <figure class="member-photo"><a href="#"><i class="fa fa-twitter-square fa-4x" id="twitter"></i></figure>
  
  
  
  </div>

  </div> 

  </div>   
<script src="js/thedreamstop.js"></script>
<script src="js/jquery.js"></script>
<script type="text/javascript">
$(window).load(function() {
  $(".loader").fadeOut("slow");
})
</script>
</body>
</html>