	.offer
	{
		position:absolute;
		top:23px;
		right:145px;
	}
	#Login,#Register
	a{
		position:absolute;
		top:23px;
		right:100px;
		color:red;
	}
	#Login a:hover
	{
		font-weight:bold;
		text-decoration:underline;
	}
	#Register a:hover	
	#vertical
	{
		position:absolute;
		top:26px;
		background-color:red;
		width:2px;
		height:13px;
		right:95px;
	}
	#Register
	{
		position:absolute;
		top:23px;
		right:37px;
		color:red;
	}
	#places
	{	position:absolute;
		width:200px;
		top:23px;
		left:85px;
	}
	#submit
	{	position:absolute;
		top:23px;
		left:313px;
	}
	/*#phone
	{	position:absolute;
		top:23px;
		left:220px;
	}*/
	#title
	{
		position:absolute;
		top:20px;
		right:350px;
	}
	#copyright
	{
		position:absolute;
		top:20px;
		right:60px;
		
	}
	#copyright:hover
	{
		color:#ff6600;
	}
	#inputSuccess2
	{
		position:absolute;
		top:40px;
		width:500px;
		left:350px;
		/*height:40px*/
		box-shadow: 5px 10px 5px #ccc9c9;
	}
	
	#products
	{	position:absolute;
		background-color:white;
		width:130px;
		height:40px;
		top:20%;
		color:#33CC33;
		font-style:bold;
	}
	#sidebar
	{	position:absolute;
		font-size:3em;
		top:15px;
		left:7px;
	}
	#sidebar:hover
	{
		color:#00cc00;
	}
	.rectangle
	{	position:absolute;
		top:170px;
		background-color:#00ccff;
		width:0px;
		height:101px;
		-webkit-transition: width 0.4s; /* For Safari 3.1 to 6.0 */
    		transition: width 0.4s;
		border-bottom:1px solid red;
		padding-top:30px;
		padding-left:0px;
	}	
	.rectangle p
	{
		-webkit-transition: padding-left 0.4s; /* For Safari 3.1 to 6.0 */
    		transition: padding-left 0.4s;
	}
	.rectangle-click
	{	position:absolute;
		top:170px;
		background-color:#00ccff;
		height:101px;
		width:160px;
		border-bottom:1px solid red;
		-webkit-transition: width 0.4s; /* For Safari 3.1 to 6.0 */
    		transition: width 0.4s;
		padding-top:30px;
		padding-left:35px;
	}
	.rectangle-click p
	{
		-webkit-transition: padding-left 0.4s; /* For Safari 3.1 to 6.0 */
    		transition: padding-left 0.4s;	
	}
	.rectangle2
	{	position:absolute;
		top:271px;
		background-color:#00ccff;
		width:0px;
		height:101px;
		-webkit-transition: width 0.4s; 
    		transition: width 0.4s;
		border-bottom:1px solid red;
		padding-top:30px;
		padding-left:0px;
	}	
	.rectangle2-click
	{	position:absolute;
		top:271px;
		background-color:#00ccff;
		height:101px;
		width:160px;
		-webkit-transition: width 0.4s; 
    		transition: width 0.4s;
		border-bottom:1px solid red;
		padding-top:30px;
		padding-left:35px;
	}
	.rectangle3
	{	position:absolute;
		top:372px;
		background-color:#00ccff;
		width:0px;
		height:101px;
		-webkit-transition: width 0.4s; 
    		transition: width 0.4s;
		border-bottom:1px solid red;
		padding-top:30px;
		padding-left:0px;
	}	
	.rectangle3-click
	{	position:absolute;
		top:372px;
		background-color:#00ccff;
		height:101px;
		width:160px;
		-webkit-transition: width 0.4s; 
    		transition: width 0.4s;
		border-bottom:1px solid red;
		padding-top:30px;
		padding-left:35px;
	}
	.rectangle4
	{	position:absolute;
		top:473px;
		background-color:#00ccff;
		width:0px;
		height:101px;
		-webkit-transition: width 0.4s; 
    		transition: width 0.4s;
		border-bottom:1px solid red;
		padding-top:30px;
		padding-left:0px;
	}	
	.rectangle4-click
	{	position:absolute;
		top:473px;
		background-color:#00ccff;
		height:101px;
		width:160px;
		border-bottom:1px solid red;
		-webkit-transition: width 0.4s; 
    		transition: width 0.4s;
		padding-top:30px;
		padding-left:35px;
	}
	@-webkit-keyframes txtanim
	{
		from{left:0px;}
		to{left:30px;}
	}
	#Home
	{	position:absolute;
		color:red;
		top:30px;
		left:0px;
		animation-name:txtanim;
		animation-duration:0.4s;
	}
	/*#Home-click
	{
		padding-left:30px;
	}*/
	#Chennai,#Mumbai,#Bangalore
	{
		position:absolute;
		top:60px;
		width:280px;
		left:10px;
	}
	/*#Mumbai
	{
		position:absolute;
		top:50px;
		width:0px;
	}
	#Bangalore
	{
		position:absolute;
		top:50px;
		width:20px;
	}*/
	#hline
	{
		
		position:absolute;
		top:120px;
		height:3px;
		width:1500px;
		background-color:#00cc00;
	}
	#hline2
	{
		position:absolute;
		top:160px;
		height:3px;
		width:1500px;
		background-color:#00cc00;	
	}
	#hline3
	{	position:absolute;
		background-color:#00cc00;
		top:53px;
		height:3px;
		width:1500px;	
	}
	.ordinary1
	{
		position:absolute;
		top:123px;
		background-color:#00cc00;
		height:40px;
		width:160px;
	}
	.Meat 
	{
		position:absolute;
		top:123px;
		background-color:#00cc00;
		color:white;
		width:140px;
		height:40px;
		left:160px;
		padding-top:8px;
		padding-left:45px;
		font-size:1.25em;
		border-right:1px solid #000000;
		
	}
	.Imported
	{
		position:absolute;
		top:123px;
		background-color:#00cc00;
		color:white;
		width:150px;
		height:40px;
		left:300px;
		padding-top:8px;
		padding-left:28px;
		font-size:1.25em;
		border-right:1px solid #000000;
	}
	.Household
	{
		position:absolute;
		top:123px;
		background-color:#00cc00;
		color:white;
		width:165px;
		height:40px;
		left:450px;
		padding-top:8px;
		padding-left:29px;
		font-size:1.25em;
		border-right:1px solid #000000;
	}
	.Personal
	{
		position:absolute;
		top:123px;
		background-color:#00cc00;
		color:white;
		width:205px;
		height:40px;
		left:615px;
		padding-top:8px;
		padding-left:37px;
		font-size:1.25em;
		border-right:1px solid #000000;
	}
	.Branded
	{
		position:absolute;
		top:123px;
		background-color:#00cc00;
		color:white;
		width:210px;
		height:40px;
		left:820px;
		padding-top:8px;
		padding-left:32px;
		font-size:1.25em;
		/*border-right:1px solid #000000;*/
	}
	.ordinary2
	{
		position:absolute;
		top:123px;
		background-color:#00cc00;
		height:40px;
		right:0px;
		width:271px;
	}
	#arrow1-down,#arrow1-up,#arrow2-down,#arrow2-up,#arrow3-down,#arrow3-up,#arrow4-down,#arrow4-up,#arrow5-down,#arrow5-up
	{
		position:absolute;
		top:136px;
		color:black;
				
		font-size:1em;
	}	
	#arrow1-down,#arrow1-up
	{
		left:260px;
		
	}
	#arrow2-down,#arrow2-up
	{
		left:420px;
	}
	#arrow3-down,#arrow3-up
	{
		left:580px;
	}
	#arrow4-down,#arrow4-up
	{
		left:780px;
	}
	#arrow5-down,#arrow5-up
	{
		left:990px;
	}
	.Meat:hover,.Imported:hover,.Household:hover,.Personal:hover,.Branded:hover
	{
		background-color:white;
		color:#00cc00;
	}
	#arrow1:hover+.Meat
	{
		background-color:white;
		color:#00cc00;
	}
	
	.options
	{
		position:absolute;
		top:166px;
		width:140px;
		height:150px;
		left:160px;
		background-color:#ffffff;
		border: 1px solid #000000;
		border-top:#00cc00;
		opacity: 1.0;
	}
	#chicken,#mutton,#seafood,#pork
	{
		position:absolute;
		color:#a8a8a9;
		font-size:1em;
		left:24px;
	}
	#chicken
	{
		position:absolute;
		top:15px;
	}
	#mutton
	{
		position:absolute;
		top:45px;
	}
	#seafood
	{
		position:absolute;
		top:75px;
	}
	#pork
	{
		position:absolute;
		top:105px;
	}
	#chicken:hover,#mutton:hover,#seafood:hover,#pork:hover
	{
		border:1px solid #ff9900;
		color:#000000;
		
	}
	#quick,#Rice
	{
		position:absolute;
		/*left:160px;*/
		top:175px;
	}
	#quick
	{
		left:160px;
	}	
	#quick-arrow
	{
		position:absolute;
		top:178px;
		left:250px;
	}
	#Rice
	{
		left:270px;
	}
	#Rice:hover
	{
		color:#0066ff;
		text-decoration:underline;
	}
	#image1,#image2,#image3,#image4
	{
		position:absolute;
		top:210px;
		left:300px;
		height:360px;
		width:520px;
	}
	.rice-jpg,.pulse-jpg,.fish-jpg,.interstellar-jpg
	{
		position:absolute;
		top:570px;
		width:130px;
		background-color:#009933;
		height:40px;
		color:white;
		
		text-align:center;
		padding-top:6px;
		font-size:0.75
	}
	.rice-jpg
	{
		left:300px;
		border-right:1px solid black;
	}
	.pulse-jpg
	{
		left:430px;
		border-right:1px solid black;
		border-left: 1px solid black;
	}
	.fish-jpg
	{
		left:560px;
		border-right:1px solid black;
		border-left:1px solid black;
	}
	.interstellar-jpg
	{
		left:690px;
		border-left:1px solid black;
	}
	/*.rice-hover,.pulse-hover,.fish-hover,.interstellar-hover
	{
		background-color:white;
		color:#009933;
		border-right: white;
		border-bottom:1.5px solid #009933;
	}*/
	.interstellar-hover
	{
		background-color:white;
		color:#009933;
		/*border-right: white;
		border-bottom:1.5px solid #009933;*/
		border-right: 2px solid #009933;
		border-bottom:2.5px solid #009933;
		
		left:690px;
		position:absolute;
		top:570px;
		width:130px;
		height:40px;
		text-align:center;
		padding-top:6px;
		font-size:0.75
	}
	.pulse-hover
	{
		background-color:white;
		color:#009933;
		/*border-right: white;
		border-bottom:1.5px solid #009933;
		border-right: 2px solid #009933;*/
		border-bottom:2.5px solid #009933;
		/*border-left: 2px solid #009933;*/
		left:430px;
		position:absolute;
		top:570px;
		width:130px;
		height:40px;
		text-align:center;
		padding-top:6px;
		font-size:0.75
	}
	.fish-hover
	{
		background-color:white;
		color:#009933;
		/*border-right: white;
		border-bottom:1.5px solid #009933;
		border-right: 2px solid #009933;*/
		border-bottom:2.5px solid #009933;
		/*border-left: 2px solid #009933;*/
		left:560px;
		position:absolute;
		top:570px;
		width:130px;
		height:40px;
		text-align:center;
		padding-top:6px;
		font-size:0.75
	}
	.rice-hover
	{
		background-color:white;
		color:#009933;
		/*border-right: 2px solid #009933;*/
		border-bottom:2.5px solid #009933;
		border-left: 2px solid #009933;
		left:300px;
		position:absolute;
		top:570px;
		width:130px;
		height:40px;
		text-align:center;
		padding-top:6px;
		font-size:0.75
	}
